.nav {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-grow: 1;
}

.nav a {
  text-decoration: none;
  color: #FE7800;
  font-family: "Whatthefont";
  font-size: 20px;
}

.header {
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 3px -5px rgba(0, 0, 0, 0.5); /* X-offset Y-offset Blur-radius Spread-radius Color */
  z-index: 100;
}

.footer {
  color: white;
  background-color: black;
  margin-top: 50px;
}

.upper-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.logo-container {
  height: 100%;
  margin: 50px;
}

.misc-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-container a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  width: 40px;
}

.logo-container h1 {
  font-family: "Whatthefont";
  font-size: 17px;
  margin: 0px;
  color: #FE7800
}