.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.customRuleButton {
  height: 35px;
  width: 60px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.customRuleButton:hover {
  background-color: skyblue;
  transition: 0.2s;
}

.customizationContainer{
  display: grid;
  grid-auto-rows: 0fr;
  overflow-y: auto;
  height: 350px;
  width: 100%;
  border: 0.5px solid rgb(225, 225, 225);
}

.customizationContainer.empty{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  border: 1px solid rgb(225, 225, 225);
}

.customizationHead {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 60px;
  width: 800px;
}

.customizationHeadGrid {
  display: flex;
  border: 0.5px solid rgb(225, 225, 225);
  justify-content: center;
  align-items: center;
}

.emptyOptionPrompt {
  display: flex;
  justify-self: center;
  align-self: center;
}

.customizationGrid {
  display: flex;
  height: 90px;
  border: 0.5px solid rgb(225, 225, 225);
  background-color: #FE7800;
}

.customizationInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 800px;
}

.customizationInfoGrid {
  display: flex;
  border: 0.5px solid rgb(225, 225, 225);
  justify-content: center;
  align-items: center;
}

.customizationGridButton1 {
  display: flex;
  flex-grow: 1;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.customizationGridButton2 {
  display: flex;
  flex-grow: 1;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.customizationInput {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 800px;
}

.customizationInputGrid {
  display: flex;
  flex-direction: column;
  border: 0.5px solid rgb(225, 225, 225);
  justify-content: center;
  align-items: center;
}

.customRuleInput {
  border-radius: 3px;
  height: 30px;
  border: 1px solid rgb(225, 225, 225);
  padding: 0 10px;
}

.inputValidationPrompt {
  display: flex;
  position: fixed;
}