.homePageSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.imageSliderContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slideshowImage {
  display: block;
  width: 1000px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

.orderButtonContainer {
  display: flex;
  justify-content: center;
  margin: 40px;
}

.startOrderButton {
  border: 1px solid #FE7800;
  background-color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  font-family: "Whatthefont";
  color: #FE7800;
  min-width: 90px;
  padding: 20px 20px 20px 20px;
  font-size: 25px;
  cursor: pointer;
}

.startOrderButton:hover {
  background-color: rgb(244, 244, 244);
}

.menuListContainer {
  display: flex;
  min-height: 150px;
  width: 100%;
}

.menuListBox {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  justify-content: center;
  gap: 30px;
}

.popularMenuBox {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
}

.slideLeftButton {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  margin-left: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.slideRightButton {
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  margin-right: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.indexSelector {
  display: flex;
  position: absolute;
  padding: 5px 10px;
  max-width: 100px;
  transform: translateX(-50%);
  height: 12px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  left: 50%;
  bottom: 30px;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.indexButton {
  width: 5px;
  height: 5px;
  background-color: gray;
  border-radius: 50px;
  cursor: pointer;
}

.indexButton.active {
  background-color: white;
}

.popularMenuBox img {
  width: 200px;
}

@font-face {
  font-family: "WhattheFont";
  src: url("/private/fonts/whatthe2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}