* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.nav {
  display: flex;
  padding: 15px;
  gap: 40px;
  justify-content: center;
  width: 100%;
}

.nav a {
  text-decoration: none;
  color: #FE7800;
  font-family: "Whatafont";
  font-size: 20px;
}

.header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 3px -5px rgba(0, 0, 0, 0.5); /* X-offset Y-offset Blur-radius Spread-radius Color */
}

.footer {
  color: white;
  background-color: black;
}

.upper-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.logo-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.misc-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px 200px 0px 200px;
}

.slide-container {
  background-color: pink;
  height: 400px;
  width: 100%;
}

.logo-container img {
  width: 20%;
}

.logo-container h1 {
  font-family: "Whatafont";
  font-size: 17px;
  margin: 0px;
  color: #FE7800
}

.image-slider {
  height: 100%;
  width: 100%;
}

.slideshow-image {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "WhataFont";
  src: url("/fonts/whata2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}