.nav {
  display: flex;
  color: white;
  /* display: flex; */
  gap: 40px;
  justify-content: center;
  text-decoration: none;
}

.header {
  min-height: 167px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer {
  color: white;
  background-color: black;
}

.logo-container {
  left: 0px;
  right: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.misc-container {
  right: 20px;
  top: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.slide-container {
  background-color: pink;
  height: 400px;
  width: 100%;
}

.logo-container img {
  width: 7%;
  
}

.logo-container h1 {
  font-family: "Whatafont";
  font-size: 40px;
  margin: 0px;
  color: #FE7800
}

.image-slider {
  height: 300px;
  width: 100%;
}

.slideshow-image {
  height: 100%;
  width: 100%;
}

.inner-container1 {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.inner-container2 {
  display: flex;
  flex-direction: row;
}


.search-bar {
}

@font-face {
  font-family: "WhataFont";
  src: url("/fonts/whata2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}