.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 150px 200px 0px 200px;
  gap: 30px;
}

.menu-container {
  display: flex;
  align-items: flex-start;
}

.menu-box {
  display: flex;
  flex-direction: column;
}
.menu-container h1 {
  display: flex;
  justify-content: center;
}

.menu-container h2 {
  display: flex;
  justify-content: center;
}

.category-nav {
  border: 1px solid orange;
  position: sticky;
  top: 150px;
  width: 75px;
  height: auto;
  margin-right: 75px;
}

.menu-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menu-grid-box {
  border: 1px solid orange;
  width: 300px;
  height: 200px;
  justify-self: center;
  align-self: center;
}