.contentLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 150px 200px 0px 200px;
}

.contentSection {
  display: flex;
  border-radius: 40px;
  min-height: 100vh;
  padding-bottom: 50px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.customizationContainer{
  display: grid;
  grid-auto-rows: 0fr;
  overflow-y: scroll;
  height: 350px;
  width: 100%;
  border: 1px solid black;
}

.customizationContainer.empty{
  display: grid;
  overflow-y: scroll;
  height: 350px;
  width: 100%;
  border: 1px solid black;
}

.customizationHead {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 60px;
  width: 800px;
}

.customizationHeadGrid {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.customizationGrid {
  display: flex;
  height: 90px;
  border: 1px solid black;
  background-color: #FE7800;
}

.customizationInput {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 800px;
}

.customizationInputGrid {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.customizationInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 800px;
}

.customizationInfoGrid {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.customizationGridButton1 {
  display: flex;
  flex-grow: 1;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.customizationGridButton2 {
  display: flex;
  flex-grow: 1;
  gap: 100px;
  align-items: center;
  justify-content: center;
}

.emptyOptionPrompt {
  display: flex;
  justify-self: center;
  align-self: center;
}

.overlay {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.optionModal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1400px;
  height: 800px;
  background-color: white;
}

.optionModalHeader {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #FE7800;
  border-bottom: 1px solid black;
}

.closeOptionModalButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: rgb(237, 237, 237);
  font-size: 30px;
  cursor: pointer;
}

.optionModalLayout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.optionModalSortSection {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: black;
}

.optionModalSearchSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: pink;
}

.optionModalSearchBar {
  display: flex;
  text-align: center;
  width: 400px;
  height: 35px;
  border-radius: 5px;
}

.optionModalItemSection {
  display: flex;
  flex-grow: 1;
  padding: 20px 30px;
}

.optionModalGridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
  overflow-y: scroll;
  width: 100%;
  padding: 10px;
}

.optionModalFooter {
  display: flex;
  background-color: #FE7800;
  width: 100%;
  height: 100px;
  border-top: 1px solid black;
}

.optionModalGrid {
  display: flex;
  border: 1px solid rgb(225, 225, 225);
  width: 100%;
  justify-self: center;
}

.optionImageContainer {
  width: 80px;
}

.optionDetailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}