.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 150px 200px 0px 200px;
}

.menu-container {
  display: flex;
  border-radius: 40px;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 50px;
}

.menu-box {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.menu-container h1 {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  font-family: "Whatafont";
  color: #FE7800;
  font-size: 50px;
}

.menu-container h2 {
  display: flex;
  justify-content: center;
}

.category-nav {
  position: sticky;
  top: 60px;
  margin: 150px 0 0 40px;
  width: 0px;
  height: auto;
  margin-right: 75px;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.category-nav li {
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  z-index: 3;
}

.hovered-category-box {
  display: none;

}

.hovered-category-box.active p {
  margin-right: 20px;
}

.hovered-category-box.active {
  position: absolute;
  font-size: 22px;
  color: #FE7800;
  font-family: "Whatafont";
  display: flex;
  justify-content: end;
  align-items: center;
  width: auto;
  white-space: nowrap;
  height: 80px;
  background-color: white;
  border-radius: 60px;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.2);
  z-index: -1;
  opacity: 1;
  padding-left: 100px;
}

.category-nav img {
  width: 60px;
  margin: 20px 0 20px 20px;
  z-index: 3;
}


.menu-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 50px;
}

.menu-grid-box {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 15px;
  width: 300px;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-items: center;
  color: #FE7800;
  font-family: "Whatafont";
}

.menu-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.menu-image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.menu-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
}

.menu-info-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
}

.menu-info-box h2 {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}


.menu-info-box p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  color: gray;
}

.menu-order-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px 0 20px 0;
}

.intermediate-order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FE7800;
  font-family: "Whatafont";
  font-size: 20px;
  color: #FE7800;
  background-color: white;
  border-radius: 100px;
  width: 200px;
  height: 45px;
  cursor: pointer;
}

.intermediate-order-button:hover {
  background-color: #FE7800;
  color: white;
  transition: 0.5s;
}

.overlay {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.order-layout {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 1400px;
  height: 800px;
  background-color: white;
}

.order-summary-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgb(197, 197, 197);
  width: 400px;
  height: 800px;
  background-color: white;
}

.product-detail-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 350px;
}

.product-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-type {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.product-type button {
  background-color: gray;
  width: 80px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
}

.product-type button.active {
  background-color: #FE7800;
}

.product-detail h2 {
  display: flex;
  align-self: center;
}

.show-nutrition-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FE7800;
}

.show-nutrition-button strong {
  cursor: pointer;
}

.product-ingredient-section {
  display: flex;
  flex-grow: 1;
  padding: 30px;
  overflow-y: scroll;
  background-color: #FE7800;
}

.current-ingredient-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 0 0 30px;
}

.ingredient-list {
  margin-bottom: 15px;
}

.order-customize-section {
  display: flex;
  flex-direction: column;
  left: 500px;
  width: 1000px;
  height: 800px;
  background-color: white;
}

.start-customize-container {
  flex-grow: 1;
  border-bottom: 1px solid black;
}

.order-customize-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 30px;
  height: 600px;
}

.order-customize-container h1 {
  justify-self: center;
  margin: 30px;
}

.order-customize-grid-container {
  display: grid;
  border: 1px solid black;
  grid-template-columns: 1fr 1fr;
}

.order-customize-grid {
  display: flex;
  border: 1px solid black;
  width: 350px;
  height: 120px;
  justify-self: center;
}

.option-image-container {
  width: 80px;
  height: 100%;
}

.option-detail-container {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}

.option-trait-container {
  display: flex;
  height: 60px;
  border-bottom: 1px solid black;
}

.option-detail {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;
}

.option-select-button {
  position: absolute;
  right: 15px;
  bottom: 20px;
}

.finish-customize-container {
  flex-grow: 1;
  border-top: 1px solid black;
}

.close-order-modal-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: rgb(237, 237, 237);
  font-size: 30px;
  cursor: pointer;
}