.selectedOptionModalContentSection {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: 0;
}

.selectedOptionModalOptionSection {
  display: flex;
  padding: 20px;
  flex-direction: column;
  border-right: 1px solid rgb(225, 225, 225);
}

.selectedOptionModalHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.selectedOptionCountModifier {
  display: flex;
  height: 50px;
  width: 300px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
}

.selectedOptionCountModifier button {
  min-width: 100px;
}

.selectedOptionDetailInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.selectedOptionFormGrid {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 150px 1fr;
}

.selectedOptionModalTraitSection {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
}

.selectedOptionTraitHeader {

}

.selectedOptionTraitInput {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  flex-grow: 1;
}

.optionTraitBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border: 1px solid rgb(225, 225, 225);
}

.selectedOptionModalFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(225, 225, 225);
  gap: 50px;
  height: 70px;
}

.optionModalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  padding: 10px;
}

.customRuleButton {
  height: 35px;
  width: 60px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.customRuleButton:hover {
  background-color: rgb(244, 244, 244);
  transition: 0.2s;
}