@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-semibold;
  }
  h3 {
    @apply text-2xl font-medium;
  }
}

@font-face {
  font-family: "WhattheFont";
  src: url("/private/fonts/whatthe2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}